<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Ulož novú objednávku</title>
</head>
<body>
<style>
    body {
        background-color: #008080;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
    }
     h1 {
            line-height: 85px; /* Adjust the spacing to your liking */
        }

</style>
<h1>Objednávka bola uložená.</h1>
<a href="/" style="color: #FFFFFF; text-decoration: none" alt="Odkaz na hlavnú stránku">Späť na hlavnú stránku</a>

<div style="background-image: url(https://wegotteez.com/cdn/shop/products/Blink_if_you_want_me_Ath_Gold_T_Shirt_6.jpg?v=1614761729);
background-repeat: no-repeat;
background-size: cover;
width: 500px;
height: 500px;
left: 520px;
margin-top: 50px;
position: absolute;">
</div>

</body>
</html>