<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Ulož nového používateľa</title>
</head>
<body>

<style>
    body {
        background-color: #008080;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
    }
     h1 {
            line-height: 85px; /* Adjust the spacing to your liking */
        }

</style>
<h1>Používateľ bol uložený.</h1>
<a href="/" style="color: #FFFFFF; text-decoration: none" alt="Odkaz na hlavnú stránku">Späť na hlavnú stránku</a>

<div style="background-image: url(https://cryptokait.files.wordpress.com/2021/01/thou-shall-pass-good-luck.jpg?w=400);
background-repeat: no-repeat;
width: 500px;
height: 500px;
left: 560px;
margin-top: 50px;
position: absolute;">
</div>

</body>
</html>